/.vscode
/node_modules
coverage/clover.xml
coverage/coverage-final.json
coverage/lcov.info
coverage/lcov-report/address.ts.html
coverage/lcov-report/base.css
coverage/lcov-report/block-navigation.js
coverage/lcov-report/customer.ts.html
coverage/lcov-report/favicon.png
coverage/lcov-report/index.html
coverage/lcov-report/order.ts.html
coverage/lcov-report/orderItem.ts.html
coverage/lcov-report/prettify.css
coverage/lcov-report/prettify.js
coverage/lcov-report/product.ts.html
coverage/lcov-report/sort-arrow-sprite.png
coverage/lcov-report/sorter.js
coverage/lcov-report/domain/entity/address.ts.html
coverage/lcov-report/domain/entity/customer.ts.html
coverage/lcov-report/domain/entity/index.html
coverage/lcov-report/domain/entity/order.ts.html
coverage/lcov-report/domain/entity/orderItem.ts.html
coverage/lcov-report/domain/entity/product.ts.html
coverage/lcov-report/domain/service/index.html
coverage/lcov-report/domain/service/order.service.ts.html
coverage/lcov-report/domain/service/product.service.ts.html
coverage/lcov-report/entity/address.ts.html
coverage/lcov-report/entity/customer.ts.html
coverage/lcov-report/entity/index.html
coverage/lcov-report/entity/order.ts.html
coverage/lcov-report/entity/orderItem.ts.html
coverage/lcov-report/entity/product.ts.html
coverage/lcov-report/infrastructure/db/sequelize/model/index.html
coverage/lcov-report/infrastructure/db/sequelize/model/product.model.ts.html
coverage/lcov-report/infrastructure/repository/index.html
coverage/lcov-report/infrastructure/repository/product.repository.ts.html
coverage/lcov-report/service/index.html
coverage/lcov-report/service/order.service.ts.html
coverage/lcov-report/service/product.service.ts.html
src/domain/entity/__snapshots__/customer.spec.ts.snap
